// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
  }

  .top-section {
    background-image: url('car-bg.jpg');
    opacity: 0.9;
    background-size: cover;
    height: 100%;
    margin-top: 1.5rem;
  }

  .header {
    color: white;
    margin-bottom: 2rem;
    text-align: center;
  }

  .search-box {
    display: flex;
    justify-content: center;

    #home_number_plate {
      border: 1px solid gray;
      border-radius: 0.5rem;
      padding: 0.6rem;
      width: 50vw;
    }
  }

  .help-section {
    margin-top: 3rem;

    .about-heading{
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}
