// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .top-section {
    background-color: #E5E7EF;
    height: 45vh;
    opacity: 0.9;
  }

  .search-section {
    margin-top: 10vh;
  }

  .flash-messages {
    display: flex;
    justify-content: center;

    .alert {
      margin-top: 1rem;
      text-align: center;
      width: 85%;
    }
  }

  .header {
    color: black;
    margin-bottom: 2rem;
    text-align: center;
  }

  .search-box {
    display: flex;
    justify-content: center;

    #home_number_plate {
      border: 1px solid gray;
      border-radius: 0.5rem;
      padding: 0.6rem;
      width: 50vw;
      height: 6vh;
    }

    .search-button {
      background-color: #3A23B5;
      color: white;
      width: 12vh;
    }
  }

  .help-section {
    margin-top: 1rem;

    .about-heading{
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}
